{% extends 'base.html' %}

{% block title %} this is about{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/techimage.JPG" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Updating your mind...</h1>
        <p class="lead">This is a platform where you will get job updates, trending
        technology updates and some amazing tutorials like machine learning and AI.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href='contact'  class="btn btn-outline-secondary btn-lg px-4">contact admin</a>
        </div>
      </div>
    </div>
  </div>
 {% endblock %}