{% extends 'base.html' %}

{% block title %} Home{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div class="container">
<div class="jumbotron my-3">
  <h1 class="display-4">Welcome to tech-update</h1>
  <p class="lead">This is a page where you will get all the latest technology and job updates. </p>
  <hr class="my-4">
  <p>Read some amazing stuff written by author shadab siddiqui...</p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
  </div>
</div>
<div class="container">
    <h2>Latest Blogposts</h2>
{% for post in allPosts  %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article  by {{post.author}}</strong>
            <h3 class="mb-0"><a class="text-dark" href="/{{post.slug}}"{{post.title}} </a> </h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">
                <div class="preview">{{post.content|safe| truncatechars:5000}}</div>
            </p>

            <div class="my-2">
            	<a href="/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>
        </div>

    </div>


    {% endfor %}
</div>
 {% endblock %}